*{
    box-sizing: border-box;
    margin: 0;
}



nav{
    
    width: 100%; 
}

.menu{
    list-style: none;
    
    width: 100%;
     justify-content:left;
     

}

.lista a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    padding: 15px 50px;
    background-color: rgb(107, 190, 107);
    border-radius: 100px;
    
}

.menu .lista{
    display: inline-block;
  
    
   
}

.lista-r{
    float: right;
}
.lista a:hover{
   
    font-size: 25px;
     background-color: #d4ffad;
    
}

h1{

    text-align: center;
    font-size: 40px;
}
.body{
   height: 98vh;
   width: 97vw;
   background-image: url("./imagenes/Project\ 2.jpg");
}

.foto{
    display: flex;
    justify-content: space-between;
    
   

}

.ind{
    border-radius: 50%;
    width:300px ;
    height:300px ;
    margin: 2%;
} 

.vegano{
    display: flex;
    justify-content: space-between;
}
